//@import 'motion-ui';
//@include motion-ui-transitions;

@import 'foundation';
@include foundation-everything;


// some custom site styling - not the usual place for it ... but it's late and I'm admitidly rushing things.

.top-bar{
    font-size: 0.9rem;
    background-color: #333;

    ul {
        background-color: #333;
    }

    a {
        color: white;
        text-transform: uppercase;

    }

    .top-bar-left {
        img {
            @include breakpoint(small) {
                width: 36px;
                margin-top: 0.55rem;
            }
        }
    }

    .top-bar-right {
        img {
            width: 36px;
        }
    }

}

h1 {
    margin-top: 0.5rem;
    text-transform: uppercase;
}


.page {
    &.welcome {

    }

    &.login {
        button {
            width: 100%;
        }
    }
}